#selected-place {
    width: 40rem;
    height: 25rem;
    max-width: 90%;
    margin: 2rem auto;
    border: 1px solid #ccc;
}

#googleMap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .fa-10x {
        font-size: 2em;
    }

    .modalW {
      top: 30vh;
      left: 11%;
      width: 50%;
      background: #e6faff;
      z-index: 20;
      border-radius: 24px;
    }

    .col-md-4 {
        height: 10rem;
        transform: translate(40%);
    }
}
